<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.milan">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <!-- Android 11 queries declaration -->
    <queries>
        <package android:name="com.google.android.googlequicksearchbox" />
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>


    <application

        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.project.milan.activity.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="com.project.zpace" />


            </intent-filter>

        </activity>

        <activity
            android:name="com.project.milan.activity.PaymentActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name="com.project.milan.activity.PaymentDirectActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name="com.project.milan.activity.SignupActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name="com.project.milan.activity.HomeActivity"


            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">


        </activity>


        <activity
            android:name="com.project.milan.view.MvvmActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme" />


        <activity
            android:name="com.project.milan.payments.GPayIntentActivity"
            android:screenOrientation="portrait">

        </activity>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>